.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}
.list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
}
.list__button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
}
.list__button:hover {
  background-color: rgb(160, 160, 196);
}
